/.ActivatorTemplate.java._trace
/.BuildTemplate.java._trace
/.OCLValidateActionTemplate.java._trace
/.PluginXmlTemplate.java._trace
/.ServiceLoaderTemplate.java._trace
/.ValidateActionTemplate.java._trace
