<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MGL -->
      <package
            uri="http://www.jabc.de/cinco/meta/core/mgl"
            class="mgl.MglPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GraphModel -->
      <package
            uri="http://www.jabc.de/cinco/gdl/graphmodel"
            class="graphmodel.GraphmodelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated GraphModel -->
      <parser
            type="graphmodel"
            class="graphmodel.util.GraphmodelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GraphModel -->
      <package
            uri="http://www.jabc.de/cinco/gdl/graphmodel/internal"
            class="graphmodel.internal.InternalPackage"/>
   </extension>
</plugin>
