/.Cinco.java._trace
/.Cinco.xtendbin
/.DiagramExtension.java._trace
/.DiagramExtension.xtendbin
/.FileExtension.java._trace
/.FileExtension.xtendbin
/.GraphModelExtension.java._trace
/.GraphModelExtension.xtendbin
/.ResourceExtension.java._trace
/.ResourceExtension.xtendbin
/.WorkbenchExtension.java._trace
/.WorkbenchExtension.xtendbin
/Cinco.java
/DiagramExtension.java
/FileExtension.java
/GraphModelExtension.java
/ResourceExtension.java
/WorkbenchExtension.java
