<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.jabc.cinco.meta.core.ge.style.generator.action.NewGraphitiCodeGenerator"
            id="de.jabc.cinco.meta.core.ge.style.generator.newgraphitigenerator"
            name="Generate New Graphiti Code">
      </command>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CincoAPI -->
      <package
            uri="http://cinco.scce.info/api"
            class="cincoapi.CincoapiPackage"
            genModel="model/CincoAPI.genmodel"/>
   </extension>

</plugin>
