<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.jabc.cinco.meta.core.referenceregistry.contributor"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="de.jabc.cinco.meta.core.referenceregistry.ClearRefReg"
               id="de.jabc.cinco.meta.core.referenceregistry.clearRefReg"
               label="Clear Reference Registry">
         </action>
      </objectContribution>
   </extension>

</plugin>
