<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.jabc.cinco.meta.core.referenceregistry" name="FileExtensionRegistry" schema="schema/de.jabc.cinco.meta.core.referenceregistry.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.jabc.cinco.meta.core.referenceregistry.contributor"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="de.jabc.cinco.meta.core.referenceregistry.ReInitializeFromWorkspace"
               id="de.jabc.cinco.meta.core.referenceregistry.reinitRefReg"
               label="Reinitialize Registry">
         </action>
      </objectContribution>
   </extension>

</plugin>
