<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.jabc.cinco.meta.core.ge.generator.action.GraphitiCodeGenerator"
            description="Generates graphiti editor from meta graph language model (.mgl)"
            id="de.jabc.cinco.meta.core.ge.generator.generateeditorcommand"
            name="Generate Graphiti Editor">
      </command>
   </extension>

</plugin>
