<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CAPI -->
      <package
            uri="http://info.scce.cinco/capi"
            class="capi.CapiPackage"
            genModel="model/CAPI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IntermediageCAPI -->
      <package
            uri="http://info.scce.cinco/icapi"
            class="icapi.IcapiPackage"
            genModel="model/IntermediageCAPI.genmodel"/>
   </extension>

</plugin>
