/.CPDGeneratorTemplate.java._trace
/.PluginXMLTemplate.java._trace
/.StyleGeneratorTemplate.java._trace
/.Test.java._trace
/CPDGeneratorTemplate.java
/PluginXMLTemplate.java
/StyleGeneratorTemplate.java
/Test.java
/.Utils.java._trace
/.CPDGeneratorTemplate.xtendbin
/.PluginXMLTemplate.xtendbin
/.StyleGeneratorTemplate.xtendbin
/.Test.xtendbin
/.MGLGenerator.java._trace
