/.CollectionExtension.java._trace
/.CollectionExtension.xtendbin
/.FileExtension.java._trace
/.FileExtension.xtendbin
/.ResourceExtension.java._trace
/.ResourceExtension.xtendbin
/.WorkbenchExtension.java._trace
/.WorkbenchExtension.xtendbin
/.WorkspaceExtension.java._trace
/.WorkspaceExtension.xtendbin
/CollectionExtension.java
/FileExtension.java
/ResourceExtension.java
/WorkbenchExtension.java
/WorkspaceExtension.java
