<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.jabc.de/cinco/style"
            class="style.StylePackage"
            genModel="model/Style.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GraphicalGraphModel -->
      <package
            uri="http://cinco.scce.info/graphicalgraphmodel"
            class="graphicalgraphmodel.GraphicalgraphmodelPackage"
            genModel="model/GraphicalGraphModel.genmodel"/>
   </extension>

</plugin>
