/* elements */
.paper {
    cursor:context-menu;
    background-color: #ffffff;
}

.node-palette {
    cursor: move;
}
.pyro-container {
    width: auto;
    margin: 10px;
}

.devs {
    cursor:move;
}
.devs .port-body {
    stroke: #008eff;
    stroke-dasharray: 10, 10;
    stroke-width: 1px;
    opacity: 0.5;
}

.devs .port-body:hover {
    cursor: crosshair;
    opacity: 1;
    stroke: #018eff;
    fill: rgba(1, 142, 255, 0.33);
}

.devs .port-label {
    fill: #7c68fc;
}
/*
    Node Styles
*/



/* Global links */
/*
.link .connection {
    stroke-width: 2px;
    stroke-opacity: 0.8;
}
*/
.link .highlight {
    stroke-dasharray: 10, 2;
    stroke-opacity: 0.8;
    stroke-width: 2;
}

.link .marker-arrowhead, .link .marker-vertex {
    fill: #000000;
}

.link-tools .tool-remove circle {
    fill: #ff0600;
}

/* highlighting */

.devs.highlighted-parent .body {
    stroke-dasharray: 10, 2;
    stroke-opacity: 0.8;
    transition: stroke 1s;
    stroke-width: 2px;
}

.devs.highlighted-parent .body-label {
    transition: fill 1s;
    text-decoration: underline;
}

/* Hover for connectable Nodes */
.available-magnet {
    fill: #008eff;
}

/* element styling */
.available-cell rect {
    stroke: #018eff;
    stroke-dasharray: 5, 2;
}

/* Components */
.mui-border {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.scroll-auto {
    height: 500px;
    overflow: auto;
    width: auto;
    padding: 10px;
}

section {
    width: 80%;
}

.paper {
    border: 1px solid lightgray;
    display: inline-block;
}

pre {
    padding-left: 20px;
    border-left: 4px solid lightgray;
}

#paper-multiple-papers-small {
    width: 300px;
}

#tutorial .content-container p {
    max-width: 1200px;
}

/* Dragging */

.selection {
    position: absolute;
    border: 1px solid #89B;
    background: #BCE;
    background-color: #BEC;
    border-color: #8B9;
}
.size2 {
    height: 118px;
    line-height: 118px;
}
.size3 {
    height: 178px;
    line-height: 178px;
}
.drop {
    float: left;
    border: 1px dashed #888;
    background: #EEE;
    text-align: center;
    padding: 20px;
    margin: 0 10px 10px 0;
}
.dropped {
    background-color: #EBC;
    border-color: #B89;
}
/*.active {
    background-color: #CEB;
    border-color: #9B8;
}*/

.properties-form {
    margin-left: 10px;
    margin-right: 10px;
}
.properties-panel {
    padding: 10px;
}

.properties-form-entry {
    margin-left: 0px;
    margin-right: 0px;
}

.scaling-btn {
    float: right;
}

.sharing-link {
    color: #ffffff;
}


