<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
         point="org.eclipse.ui.views">
      <category
            name="Model-CaM Category"
            id="de.jabc.cinco.meta.plugin.mcam.runtime.views">
      </category>
      <view
            name="Model Validation"
            category="de.jabc.cinco.meta.plugin.mcam.runtime.views"
            class="de.jabc.cinco.meta.plugin.mcam.runtime.views.CheckView"
            id="de.jabc.cinco.meta.plugin.mcam.runtime.views.CheckView">
      </view>
      <view
            name="Merge Conflicts"
            category="de.jabc.cinco.meta.plugin.mcam.runtime.views"
            class="de.jabc.cinco.meta.plugin.mcam.runtime.views.ConflictView"
            id="de.jabc.cinco.meta.plugin.mcam.runtime.views.ConflictView">
      </view>
   </extension>

   <extension-point id="de.jabc.cinco.meta.plugin.mcam.runtime.extensionpoint" name="MCaM_Runtime" schema="schema/de.jabc.cinco.meta.plugin.mcam.runtime.extensionpoint.exsd"/>

</plugin>
